# Linear Regression with Auto MPG

For the following exercise, we will use the well know Auto MPG dataset, which you can read about [here](https://archive.ics.uci.edu/ml/datasets/Auto+MPG).

The task for this exercise will be to build two models, using Sklearn and Statsmodels, to predict miles per gallon for each car record.  To do so, we have a set of predictive features.  The list, `column_names`, contains the names of both the dependent and independent variables.

In [1]:
column_names = ["mpg","cylinders","displacement","horsepower",
                "weight","acceleration","modelyear","origin",
                "carname"]

The dataset has been loaded into a dataframe for you in the cell below.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('data/auto-mpg.data', delim_whitespace=' ')

Now, using the `columns` attribute of `df`, add column names to the dataframe.

In [4]:
df.head()

   18.0  8  307.0  130.0   3504.  12.0  70  1 chevrolet chevelle malibu
0  15.0  8  350.0  165.0  3693.0  11.5  70  1         buick skylark 320
1  18.0  8  318.0  150.0  3436.0  11.0  70  1        plymouth satellite
2  16.0  8  304.0  150.0  3433.0  12.0  70  1             amc rebel sst
3  17.0  8  302.0  140.0  3449.0  10.5  70  1               ford torino
4  15.0  8  429.0  198.0  4341.0  10.0  70  1          ford galaxie 500

In [ ]:
# Your code here

In [5]:
#__SOLUTION__
df.columns = column_names

In [6]:
assert df.columns[0]=='mpg'
print("Nice job!")

Nice job!

In [7]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,modelyear,origin,carname
0,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
1,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
2,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
3,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
4,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500

# Data Prep

As always, we need to check for missing values.

In [8]:
# Code to inspect if there are missing values.
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
modelyear       0
origin          0
carname         0
dtype: int64

In [ ]:
#__SOLUTION__
df.isna().sum()

Let's also inspec the column datatypes.

In [9]:
# code to inspect the datatypes of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           397 non-null    float64
 1   cylinders     397 non-null    int64
 2   displacement  397 non-null    float64
 3   horsepower    397 non-null    object
 4   weight        397 non-null    float64
 5   acceleration  397 non-null    float64
 6   modelyear     397 non-null    int64
 7   origin        397 non-null    int64
 8   carname       397 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.0+ KB

In [ ]:
#__SOLUTION__
df.info()

Oddly enough, the `horsepower` column is encoded as a string.   Let's convert the `horsepower` column to `float`. 

* Hint: your first attempt to convert the column may through an error. The last line of the error message should indicate the value that is gumming up the works.  Use df.replace(), and replace value with np.nan, then try to change the dtype once more*

In [ ]:
# your code here

In [ ]:
#__SOLUTION__
df['horsepower'] = df['horsepower'].replace({'?':np.nan}).astype(float)

In [ ]:
assert df['horsepower'].dtype == 'float64'
print('You got it.')

Now we have some NA values. Drop the records with NA's in the `horsepower` column.

In [ ]:
# Your code here

In [ ]:
#__SOLUTION__
df.dropna(subset=['horsepower'], inplace=True)

In [ ]:
assert df['horsepower'].isna().sum() == 0
assert df.shape[0] == 391
print("Dropping those NA's should result in 391 records. Good job.")

The goal of this exercise is to become familiar with using our regression tools. Before doing so, we will pause for the briefest of EDA, and run a pairplot in the cell below (word of caution: EDA is always important. A pairplot is a first step. It does not represent a complete EDA process).

In [ ]:
sns.pairplot(df)

There is much you can gather from the pairplot above, but for now, just notice that the plots for cylinders, model year, and origin have a different type of pattern than the rest. Looking at the first row of the pairplot, we see that the x-values of those three columns correspond to discrete values on the X-axis, resulting in horizontal lines.  These descrete outcomes are possible candidates for one hot encoding or binarizing.

Two other important takeaways from the plot are: collinearity between features (evident in points grouped along the diagonal); and curvature (which might suggest a polynomial transformation could be beneficial).  We will leave that aside for now, and practice model fitting.

# Model building with sklearn

Use the mask below to isolate the 4 continuous features and the target from our `df`.

In [ ]:
continuous_mask = ['mpg', 'displacement', 'horsepower', 'weight', 'acceleration']

In [ ]:
# Replace None with your code
df_continuous = None

In [ ]:
#__SOLUTION__
df_continuous = df[continuous_mask]
df_continuous.shape

In [ ]:
assert df_continuous.shape[1] == 5
assert list(df_continuous.columns) == continuous_mask

Split the target off from the dataset, and assign it the variable `y` below.

In [ ]:
# Replace None with your code
y = None

In [ ]:
#__SOLUTION__
y = df['mpg']

In [ ]:
assert y[0] == 15.0
print('Nice work')

Drop the target from df_continous, and assign the resulting dataframe to the variable `X` below.

In [ ]:
# Replace None with your code
X = None

In [ ]:
#__SOLUTION__ 
X = df_continuous.drop('mpg', axis = 1)

In [ ]:
assert X.shape[1] == 4

The data is now ready to be fed into sklearn's LinearRegression class, which is imported for you in the next cell.

In [ ]:
from sklearn.linear_model import LinearRegression

To build the model, create an instance of the LinearRegression class: assign `LinearRegression()` to the variable `lr` below.

In [ ]:
# Replace None with your code
lr = None

In [ ]:
#__SOLUTION__
lr = LinearRegression()

Next, pass our `X` and `y` variables, in that order, as arguments into the fit() method, called off the end of our `lr` variable.

In [ ]:
# your code here

In [ ]:
#__SOLUTION__
lr.fit(X,y)

In [ ]:
assert np.isclose(lr.coef_[1], -0.04381764059543403 )
print('Noice')

Now that the model has been fit, the `lr` variable has been filled with information learned from the data. Look at the `.coef_` attribute, which describes the calculated betas associated with each independent variable.

In [ ]:
for column_name, coefficient in zip(lr.coef_, X.columns):
    print(column_name, coefficient)

The coefficient associated with horsepower is roughly -.0438.

#### Interepret the meaning of that coefficient. How does a 1-Unit increase in horsepower affect mpg?

> Your written answer here.

In [ ]:
#__SOLUTION__
"""
A unit increase in horsepower results in reduction -.0438 mpg for any given car.
"""

Lastly, feed in `X` and `y` to the `score` method chained off the end of our `lr` variable. That method gives us an R^2, which we will compare to the Statsmodel output.

In [ ]:
# Replace None with your code

r_2 = None

In [ ]:
#__SOLUTION__
r_2 = lr.score(X,y)

In [ ]:
assert np.isclose(r_2, 0.70665)
print('Great work!')

# Statsmodels

Let's now compare Statsmodel's output.  
**Spoiler Alert: it will be the same.**

In [ ]:
from statsmodels.formula.api import ols

Statsmodels takes a **formula string** as an argument, which looks like what you might expect from the R language.

$target \sim column\_name\_1 \ + column\_name\_2 + \ ...\ + column\_name\_n$

To do so, we can join the list of columns of X with a `+`

In [ ]:
# join the columns by feeding X.columns into "+".join().
columns = None

In [ ]:
#__SOLUTION__
columns = '+'.join(X.columns)

Using the string of column names joined in the cell above, we can now construct the formula by running the cells below.

In [ ]:
target = 'mpg'

In [ ]:
formula = target + '~'+columns

In [ ]:
assert formula == 'mpg~displacement+horsepower+weight+acceleration'

Lastly, pass `formula` and the original `df` into `ols()` as parameters.  

Then, chain the methods .fit() and .summary().  

Note: You need to feed in the original `df`, because `ols` requires the target to be present in the data parameter that you pass.

In [ ]:
# Feed formula and df to the line of code below. 
ols().fit().summary()

In [ ]:
#__SOLUTION__
ols(formula,df).fit().summary()

The `summary` gives a lot of good information, but for now, just confirm that the R_squared is the same (rounded) as the sklearn R_squared found nearer the top of the notebook.

Also, look at the coef column and confirm that the beta coefficients are consistent across both sklearn and statsmodels.

If they are the same, pat yourself on the back.